.home-container {
	margin-top: 80px;
	padding: 20px;
}

.toggle-group {
	display: flex;
	justify-content: center;
	margin: 20px auto;
	padding: 1%;
	width: 30%;
}

.toggle-button {
	margin: 0 10px;
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	border-radius: 25px;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
