<div class="home-container">
	<div *ngIf="isLoggedIn; else loggedOut">
		<h2>Вы авторизованы!</h2>
		<button (click)="control_panel()">Панель управления</button>

		<!-- Кнопки выбора отображаемых объектов -->
		<mat-button-toggle-group
			name="chooseOwner"
			aria-label="Choose Owner"
			[(ngModel)]="selectedView"
			(change)="toggleView()"
			class="owner-toggle-group">
			<mat-button-toggle value="all">Все объекты</mat-button-toggle>
			<mat-button-toggle value="mine">Мои объекты</mat-button-toggle>
		</mat-button-toggle-group>

		<table *ngIf="spaceMarines && spaceMarines.length > 0" class="space-marine-table">
			<thead>
			<tr>
				<th>ID</th>
				<th>Владелец</th>
				<th>Координаты</th>
				<th>Дата создания</th>
				<th>Имя корабля</th>
				<th>Название экипажа</th>
				<th>Численность экипажа</th>
				<th>Мир экипажа</th>
				<th>Высота</th>
				<th>Здоровье</th>
				<th>Категория</th>
				<th>Тип оружия</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let marine of spaceMarines">
				<td>{{ marine.id }}</td>
				<td>{{ marine.user_email }}</td>
				<td>{{ marine.timeCreate }}</td>
				<td>{{ marine.name }}</td>
				<td>{{ marine.chapterName }}</td>
				<td>{{ marine.chapterCount }}</td>
				<td>{{ marine.chapterWorld }}</td>
				<td>{{ marine.height }}</td>
				<td>{{ marine.health }}</td>
				<td>{{ marine.category }}</td>
				<td>{{ marine.weaponType }}</td>
			</tr>
			</tbody>
		</table>

	</div>

	<ng-template #loggedOut>
		<h2>Вы не авторизованы!</h2>
		<p>Пожалуйста, войдите в систему для доступа к большему количеству возможностей или зарегистрируйтесь, если у вас еще нет учетной записи.</p>
	</ng-template>
</div>
