<div class="home-container">
  <h1>Добро пожаловать в Warhammer 40000: Space Marine!</h1>

  <div *ngIf="isLoggedIn; else loggedOut">
    <h2>Вы авторизованы!</h2>
    <p>Поздравляем, вы успешно вошли в систему! Теперь у вас есть доступ ко всем возможностям нашего приложения.</p>

  </div>

  <ng-template #loggedOut>
    <h2>Вы не авторизованы!</h2>
    <p>Пожалуйста, войдите в систему для доступа к большему количеству возможностей.</p>
    <p>Зарегистрируйтесь, если у вас еще нет учетной записи.</p>

    <p>Чтобы войти в систему или зарегистрироваться, нажмите на соответствующие кнопки:</p>
    <button routerLink="/signin" class="auth-button">Войти</button>
    <button routerLink="/signup" class="auth-button">Зарегистрироваться</button>
  </ng-template>
</div>
