.control-panel {
	display: flex;
	justify-content: space-around;
	background-color: var(--secondary-color);
	padding: 20px;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	margin-top: 100px;
}

.control-panel button {
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 20px;
}
